
<div class="container">
    <form action="/courses/store" method="post">
        <div class="form-group">
            <label for="">Ten khoa hoc</label>
            <input type="text" class="form-control" name="name" id="">
        </div>

        <div class="form-group">
            <label for="">mô tả</label>
            <input type="text" class="form-control" name="description" id="">
        </div>

        <div class="form-group">
            <label for="">Id video</label>
            <input type="text" class="form-control" name="videoId" id="">
        </div>

        <button class="btn btn-primary" id="" type="submit">Tao moi</button>
    </form>
    
</div>