<div class="container-fluid bg-dark">
    
            <div class="header h-24 py-4 relative">
                <div class="absolute sm:flex">
                        <div class="logo ">
                            <img src="http://localhost:3000/img/hinhanh.jpeg" class=" img-responsive h-12 w-14" alt="">
                        </div>

                        <div class=" sm:flex sm:relative absolute sm:pt-4 pt-24  ">
                            <a class="sm:px-4 sm:flex block  text-white" href="/">HOME</a>
                            <a class="sm:px-4 sm:flex block  text-white" href="/news">NEWS</a>
                            <a class="sm:px-4 sm:flex block  text-white" href="/contact">CONTACT</a>
                            <a class="sm:px-4 sm:flex block  text-white" href="/search">Search</a>
                            <a class="sm:px-4 sm:flex block  text-white" href="/courses/create">them khoa hoc</a>
                            <a class="sm:px-4 sm:flex block  text-white" href="/my/stored/courses"> khoa hoc cua toi</a>
                        </div>
                </div>
        
            </div>
</div>